body{
    background-color: grey;
    color: white;
}
.navigation{
    border-style: solid;
    border-color: white;
    background-color:rgb(243, 211, 216);
    width: 400px;
    height: 120px;
    margin: 25px;
    position: relative;
    border-radius: 15%;
    font-size: 50px;
    text-align: center;      
}
.title{
    background-color: grey;
    width: 90%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    text-align: center;
}
.text{
    background-color: pink;
    border-color: white;
    width: 50%;
    height: 700px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    border-radius: 20%;    
}
.image{
    width: 100%;
    height: auto;
    border-radius: 20%;
}
.image-container{
    max-width: 75vw;
    margin-left: 10em;
}
.row{
    display: inline-flex;
}
.links{
    max-width: 49%;
    border-radius: 20%;
}
.aboutmebody{
    margin: 15px;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    padding-left: 10em ;
}
.section-title{
    background-color: grey;
    width: 90%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    text-align: center;

    


